[TORRENTZ]
torrentz = 1
torrentz_confirmed = 1
torrentz_ratio = 1.0
torrentz_minseed = 1
torrentz_minleech = 0
torrentz_search_mode = eponly
torrentz_search_fallback = 0
torrentz_enable_daily = 1
torrentz_enable_backlog = 1
[THEPIRATEBAY]
thepiratebay = 1
thepiratebay_custom_url = ""
thepiratebay_confirmed = 1
thepiratebay_ratio = 1.0
thepiratebay_minseed = 1
thepiratebay_minleech = 0
thepiratebay_search_mode = eponly
thepiratebay_search_fallback = 0
thepiratebay_enable_daily = 1
thepiratebay_enable_backlog = 1
[KICKASSTORRENTS]
kickasstorrents = 1
kickasstorrents_custom_url = ""
kickasstorrents_confirmed = 1
kickasstorrents_ratio = 1.0
kickasstorrents_minseed = 1
kickasstorrents_minleech = 0
kickasstorrents_search_mode = eponly
kickasstorrents_search_fallback = 0
kickasstorrents_enable_daily = 1
kickasstorrents_enable_backlog = 1
[TORRENT]
torrent_verify_cert = 0
torrent_paused = 0
torrent_host = http://transmission:9091/
torrent_label_anime = ""
torrent_path = /Downloads
torrent_auth_type = none
torrent_rpcurl = transmission
torrent_username = ""
torrent_label = ""
torrent_password = ""
torrent_high_bandwidth = 0
torrent_seed_time = 0
[General]
log_size = 10.0
calendar_unprotected = 0
autopostprocesser_frequency = 10
metadata_wdtv = 0|0|0|0|0|0|0|0|0|0
https_key = server.key
allow_high_priority = 1
developer = 0
anon_redirect = http://dereferer.org/?
indexer_timeout = 20
web_use_gzip = 1
metadata_tivo = 0|0|0|0|0|0|0|0|0|0
dailysearch_frequency = 40
ignore_words = "german,french,core2hd,dutch,swedish,reenc,MrLss"
check_propers_interval = daily
nzb_method = blackhole
sync_files = "!sync,lftp-pget-status,part,bts,!qb,!qB"
ssl_verify = 1
cur_commit_hash = 755e57dbb7323826dcad19f9495ff4fbb45d6739
encryption_secret = 7C889G9EQGyBdlKi/dxa1xGaxRL7GUyqk/vl5RhWpg4=
news_last_read = 1970-01-01
version_notify = 1
allowed_extensions = "nfo,srr,sfv,srt"
web_root = ""
add_shows_wo_dir = 0
debug = 1
update_frequency = 24
use_torrents = 1
display_all_seasons = 1
usenet_retention = 500
download_propers = 1
del_rar_contents = 0
no_restart = 0
process_method = move
metadata_mede8er = 0|0|0|0|0|0|0|0|0|0
file_timestamp_timezone = network
auto_update = 0
tv_download_dir = /Downloads
naming_custom_abd = 0
log_dir = Logs
naming_sports_pattern = %SN - %A-D - %EN
create_missing_show_dirs = 0
trash_rotate_logs = 0
airdate_episodes = 0
notify_on_update = 1
cur_commit_branch = ""
https_cert = server.crt
backlog_days = 7
root_dirs = 0|/TV/Adults|/TV/Kids
naming_pattern = Season %0S/%SN - S%0SE%0E - %EN
sort_article = 0
handle_reverse_proxy = 0
web_username = ""
postpone_if_sync_files = 1
metadata_kodi = 1|1|1|1|1|1|1|1|1|1
cpu_preset = NORMAL
nfo_rename = 1
naming_anime_multi_ep = 1
use_nzbs = 0
web_ipv6 = 0
git_remote = origin
anime_default = 0
default_page = home
indexer_default = 0
download_url = ""
encryption_version = 0
showupdate_hour = 2
status_default = 5
naming_anime = 3
naming_custom_sports = 0
naming_anime_pattern = Season %0S/%SN - S%0SE%0E - %EN
naming_custom_anime = 0
randomize_providers = 1
web_host = 0.0.0.0
config_version = 8
process_automatically = 0
git_path = ""
cache_dir = cache
web_port = 8081
launch_browser = 1
unpack = 0
move_associated_files = 0
naming_multi_ep = 1
torrent_method = transmission
localhost_ip = ""
use_listview = 0
trash_remove_show = 0
enable_https = 0
no_delete = 0
naming_abd_pattern = %SN - %A.D - %EN
socket_timeout = 30
proxy_setting = ""
backlog_frequency = 720
notify_on_login = 1
metadata_ps3 = 0|0|0|0|0|0|0|0|0|0
quality_default = 3
git_username = ""
git_remote_url = https://github.com/SickRage/SickRage.git
trackers_list = "udp://coppersurfer.tk:6969/announce,udp://open.demonii.com:1337,udp://exodus.desync.com:6969,udp://9.rarbg.me:2710/announce,udp://glotorrents.pw:6969/announce,udp://tracker.openbittorrent.com:80/announce,udp://9.rarbg.to:2710/announce"
extra_scripts = ""
flatten_folders_default = 0
indexerDefaultLang = en
postpone_if_no_subs = 0
branch = master
git_password = ""
ep_default_deleted_status = 6
rename_episodes = 1
metadata_mediabrowser = 0|0|0|0|0|0|0|0|0|0
require_words = ""
naming_strip_year = 0
proxy_indexers = 0
web_log = 0
log_nr = 5
git_reset = 1
web_password = ""
provider_order = torrentz thepiratebay kickasstorrents hdtorrents torrentleech hounddawgs hdbits abnormal ilovetorrents alpharatio scenetime btn rarbg hdspace torrentbytes elitetorrent speedcd tntvillage xthor shazbat_tv torrentproject phxbit bitsnoop iptorrents extratorrent morethantv tvchaosuk nyaatorrents danishbits pretome torrentday btdigg cpasbien sceneaccess bitsoup newpct tokyotoshokan bluetigers bitcannon freshontv hd4free t411 transmitthenet limetorrents norbits gftracker
scene_default = 0
skip_removed_files = 0
status_default_after = 3
dbdebug = 0
ignored_subs_list = "dk,fin,heb,kor,nor,nordic,pl,swe"
calendar_icons = 0
metadata_kodi_12plus = 0|0|0|0|0|0|0|0|0|0
keep_processed_dir = 0
[Subtitles]
opensubtitles_password = ""
itasa_password = ""
subtitles_keep_only_wanted = 1
subtitles_download_in_pp = 0
addic7ed_username = ""
legendastv_username = ""
legendastv_password = ""
subtitles_default = 0
subtitles_multi = 1
subtitles_extra_scripts = ""
opensubtitles_username = ""
embedded_subtitles_all = 0
subtitles_history = 0
subtitles_hearing_impaired = 0
itasa_username = ""
subtitles_languages = eng
subtitles_finder_frequency = 1
subtitles_perfect_match = 1
SUBTITLES_SERVICES_LIST = "addic7ed,opensubtitles,podnapisi,shooter,subscenter,thesubdb,tvsubtitles"
addic7ed_password = ""
use_subtitles = 1
subtitles_dir = ""
SUBTITLES_SERVICES_ENABLED = 1|1|1|1|1|1|1
